*{
    box-sizing: border-box;
}


body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

/* h1{font-size: 3.5em;} */
h2{ font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}
li{ font-size: 1.25em;}

.cajag{
    height: 500;width: 500;
}

.negrita{
    font-weight:bold
}

.rojo1:hover{
    color:#e51c24;
}
.amarillo1:hover{
    color:#ff0;
}
.azul1:hover{
    color:#1b2884;
}
.naranja1:hover{
    color:#f78d20;
}.verde1:hover{
    color:#1fa812;
}
.violeta1:hover{
    color:#623259;
}
.celeste1:hover{
         color:#099fec
}

.rojo{
    background-color:#e51c24;
}
.amarillo{
    background-color: #ff0;
}
.azul{
    background-color:#1b2884;
}
.naranja{
    background-color:#f78d20
}
.violeta{
background-color:#623259;
color:white
}
.verde{
    background-color:#1fa812;
}
.celeste{
    background-color:#099fec;
}
.marron{
    color:#d47560;

}


.container{
max-width: 1000px;
margin: auto;
}

.color-acento{ color: #623259 }

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: #623259; 
    font-size: 1.7em;
}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .container{
    display: flex;
    width: 80%;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

header .nav{
    display: flex;
    flex-direction: column;
    text-align: center;

}
.icono{
    width: 50px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    
}


/* header a:hover{
    color: blue;
} */


button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,1);
    box-shadow: 2px 2px 15px rgba(0,0,0,1);
   background-color: aliceblue;
}
button:hover{
    background-color: rgb(206, 208, 209);
} 


#hero h1{
    color: white;}

#info .container{
    text-align: center;
    padding: 200px 12px;
}

@media only screen and (max-width:600px){
    section {
        display: block;
        align-items: center;
        width: 100%;
        font-size: 16px;
    }
    article{
        display:inline-block;
        align-items: center;
        text-align: center;
        width:100%;
    }
    #inicio{
        display: inline-block;
        width: 100%;
        text-align: center;
        font-size: 42px;
    }
    .icono1{
        position: absolute;
        right: 0%;
    }
    .icono2{
        position: absolute;
        right: 20%;
        height:75%;
    }
    .icono3{
        position: absolute;
        right: 40%;
    }
    /* p {
        background-color: red;
    } */
    h1{
        font-size: 50%;  
    }
    
} 

@media only screen and (min-width:600px){
    section {
        display: inline-block;
        align-items: center;
        width: 48%;
        font-size: 32px;
    }
    article{
        display:inline-block;
        text-align: center;
        width:100%;
    }
    h1{
        font-size: 70%;  
    }
}

@media only screen and (min-width:1000px){
    section {
        display: inline-block;
        align-items: center;
        width: 33%;
        font-size: 50px;
    }
    article{
        display:inline-block;
        text-align: center;
        width:100%;
    }
    h1{
        font-size: 100%;  
    }
} 